            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-md-7">
                                <h1>Share, Grow, AirLettuce</h1>
                                <p>
                                    Adipisicing consectetur facere voluptatibus itaque ullam. Enim blanditiis odio eius pariatur reiciendis cupiditate labore!
                                </p>
                                <p>
                                    <a class="btn btn-primary btn-lg" href="#addListing">Add Listing</a>
                                    <a class="btn btn-success btn-lg" href="#search">Find Space</a>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" width="420" height="315" src="//www.youtube.com/embed/Fc1P-AEaEp8" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Local Listings Near <em>User's location</em></h2>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
