<div class="row">
    <div class="col-md-12">
        <h1>Add a New Listing</h1>

        <div class="row">
            <form role="form">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Field</label>
                        <input class="form-control" type="text" placeholder="Field">
                    </div>
                    <div class="form-group">
                        <label for="">Field</label>
                        <input class="form-control" type="text" placeholder="Field">
                    </div>
                    <div class="form-group">
                        <label for="">Field</label>
                        <input class="form-control" type="text" placeholder="Field">
                    </div>
                    <div class="form-group">
                        <label for="">Field</label>
                        <input class="form-control" type="text" placeholder="Field">
                    </div>
                    <div class="form-group">
                        <label for="">Large Field</label>
                        <textarea class="form-control" name="" cols="30" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Large Field</label>
                        <textarea class="form-control" name="" cols="30" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline" for="">
                            <input type="checkbox"> Boolean
                        </label>
                        <label class="checkbox-inline" for="">
                            <input type="checkbox"> Boolean
                        </label>
                        <label class="checkbox-inline" for="">
                            <input type="checkbox"> Boolean
                        </label>
                        <label class="checkbox-inline" for="">
                            <input type="checkbox"> Boolean
                        </label>
                        <label class="checkbox-inline" for="">
                            <input type="checkbox"> Boolean
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Select Dropdown</label>
                        <select id="" class="form-control" name="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Select Dropdown</label>
                        <select id="" class="form-control" name="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                Upload image <input class="btn btn-default btn-block" type="file">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Upload image <input class="btn btn-default btn-block" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="form-group">
                                <button class="btn btn-lg btn-success btn-block" type="button">Add Listing</button>
                            </div>
                            <div class="form-group">
                                <a href="#checklist">
                                    <em>verify property</em>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
