<div class="row">
    <div class="col-md-12">
        <h1>Search For Listings</h1>
        <input class="form-control input-lg" type="text" placeholder="Search for listings">
        <div id="search-filters" class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" value="1"> Filter Elit!
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="1"> Filter Sit corrupti!
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="1"> Filter Consectetur.
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="1"> Filter Sit sequi.
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="1"> Filter Dolor.
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="1"> Filter Adipisicing veniam atque.
            </label>
        </div>
                    <div id="search-listings" class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Title / Short desc of place
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <p>Amet nisi deserunt officiis error est. Neque amet laboriosam ipsam maxime saepe.</p>
                                            <p>
                                                <ul>
                                                    <li>Ipsum saepe.</li>
                                                    <li>Lorem vero non.</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
